.ul-droppable {
  border: 1px;
  border-style: solid;
  border-color: red;
  height: 199px;
}

.styleAdd {
  border-style: solid;
  border-color: yellow;
}

.div-ul {
  width: 200px;
  display: inline-block;
}
